body {
	background-color: #1c2833;
}

*:focus {
	outline: none;
}

.box {
	box-sizing: border-box;
	width: 500px;
	height: 650px;
	border: 2px solid #3498db;
	box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
	border-radius: 5px;
	background-color: black;
	margin-top: 70px;
	overflow: hidden;
	padding: 50px;
	margin-bottom: 50px;
	position: relative;
}

img {
	box-sizing: border-box;
	width: 149px;
	height: 149px;
	border-radius: 50%;
	margin: 0;
	border: 5px solid #0082e6;
	padding: 3px;
	background-color: white;
}

input[type="text"],
input[type="email"] {
	display: block;
	box-sizing: border-box;
	background: none;
	color: #3498db;
	margin-bottom: 30px;
	padding: 4px;
	width: 320px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #0082e6;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	padding: 10px;
}

input[type="date"] {
	display: block;
	box-sizing: border-box;
	background: none;
	color: #3498db;
	margin-bottom: 30px;
	padding: 4px;
	width: 320px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #0082e6;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
	padding: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus {
	border-bottom: 2px solid #3498db;
	border-bottom-right-radius: 20px;
	color: #3498db;
	transition: 0.2s ease;
}

button {
	border: 1px solid #3498db;
	background-color: black;
	color: white;
	height: 30px;
	width: 100px;
	border-radius: 5px;
	margin: 0;
	transition: all 0.3s;
}

button:hover {
	transform: scale(1.1);
}