/*footer styles*/

.footer-container{
    background-color: #233039;
    color: white; 
    left:0;
    right:0;
    bottom:0;
    margin:0;
  }
  
  .container7{
    display: inline;
  }
  
  .box8,
  .socialmedia-nav{
    display: inline-block;
  }
  
  .box8{
    margin-left:100px;
    border:1px solid #fff;
    border-radius: 7px;
  }
  
  .socials-head{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .sm{
    width:28px;
    height:auto;
    margin:5px;
    padding:7px;
  }
  
  .socialmedia-nav{
    
    padding-left: 750px;
    top: 40px;
  }
  
  .socialmedia-nav ul{
    display:inline;
    list-style: none;
  }
  
  .socialmedia-nav li{
    display: inline-block;
  
    background-color: #fff;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 5px;
    border: solid 1px white;
    border-radius: 25px;
    transition: transform 0.2s ease-in-out;
  }
  
  
  .socialmedia-nav li:hover{
    transform: scale(1.1); /*makes the box 1.1 times its original size*/
    background-color: #c6eeed;
  }
  
  .company-name{
    transform: translateX(10%);
    margin-top: 10px;
	margin-left:-28%;
  }
  
  .moto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#bcbcbd;
    padding:10px;
  }
  
  
  
  .container8{
    display:inline;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .box9{
    display:inline-block;
  }
  
  .box9 h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .box9 a{
    text-decoration: none;
    color:#d6d6ec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .box9 a:hover{
    color:#36AFAD;
  }
  
  .box9 li{
    margin:6px;
    color:#d6d6ec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .box9 ul{
    transform: translateX(-30%);
    list-style: none;
  
  }
  
  .box9{
    margin-left:50px;
  
  
  }
  
  .footer-register{
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: bold; 
    size:14px; 
    color:rgb(104, 105, 108);
  }
  
  
  .footer-register:hover{
    color:#36AFAD;
    font-style: oblique;
    
  }
  
  .box9 .pno li{
    margin-left: 80px;
    font-size: small;
    color:#d6d6ec;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .affiliates-txt{
    opacity: 0.75;
  }
  
  
  
  .partners-logo{
    width:100px;
    height:auto;
    margin-left: 50px;
    opacity: 0.5;
    
  }
  
  .footer-line{
    width:80%;
    margin:auto;
    color:#d6d6ec;
  }
  
  .lastline{
    margin-left: 100px;
    padding:20px;
  }
  
  .lastline p, a{
    text-decoration: none;
    color:#d6d6ec;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .lastline a:hover{
    color:#36AFAD;
  }
  
  .line{
    display:inline;
  }
  
  .last{
    display:inline-block;
    margin-right:10px;
    transform: translateX(360%);
  }
  
  .fixed-arrow{
    color:#1e2a33;
    background-color: #b8cde0;
    padding:20px;
    border-radius: 4px;
    position: fixed;
    bottom:25px;
    right:25px;
  }
  
  
  .fixed-arrow:hover{
    color:#fff;
    background-color: #36AFAD;
  }
  
  .fixed-arrow a:hover{
    color:#fff;
  }
  
  .question-mark:hover{
    color:#fff;
    background-color: #36AFAD;
  }
  
  .fixed-query .question-mark{
    color:#233039;
    background-color: #b8cde0;
    padding:20px;
    border-radius: 4px;
    position: fixed;
    bottom:25px;
    left:25px;
  }
  
  .fixed-query .question-mark:hover{
    color:#fff;
    background-color: #36AFAD;
  }
  